

/* montserrat-300 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('fonts/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }


* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: rgba(79, 79, 79, 1);
}

/* Container 1 */
.width-container {
	background: #232323;
	box-shadow: 13px 4px 28px rgba(0, 0, 0, 0.25);
	width: 1700px;
	color: white;
	padding: 20px 40px;
	margin: 0 auto;
}

.width-container .title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 128px;
	line-height: 156px;
	text-align: center;
	letter-spacing: 0.15em;

	color: #FFFFFF;

	text-shadow: 9px 4px 11px #000000;
}

.width-container .description {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	text-align: center;

	color: #FFFFFF;


}

.width-container .subtitle {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 44px;
	text-align: inherit;

	color: #FFFFFF;
	text-shadow: 9px 4px 11px #000000;

}

/* Container 2 */
.container-well {
	background: rgba(0, 0, 0, 0.14);
	box-shadow: inset 0px 4px 4px 11px rgba(0, 0, 0, 0.09);
	border-radius: 30px;
	padding: 20px 40px;
}

.container-well .container-text {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-size: 25px;
	line-height: 44px;
	text-align: center;

	color: #FFFFFF;
}

/*Container Flex*/

.container-flex {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;

	
}

.column {

	background: rgba(0, 0, 0, 0.14);
	box-shadow: inset 0px 4px 4px 11px rgba(0, 0, 0, 0.09);
	border-radius: 30px;
	padding: 20px 100px;
	margin: 0 10px;
	flex-grow: 1;

	
}

/* Container 3 (descripciones) */

.card-description-container {
	position: relative;
	border-radius: 30px;
	width: 100%;
	height: auto;
	overflow: hidden;
	
}

.feature {

	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	background-color: #131313;
	overflow: hidden;
	height: 100%;
	transition: .8s ease;
	display: flex;
	align-items: center;
	transform: translate(-100%, 0);
	
}

.card-description-container:hover .overlay {
	transform: translate(0, 0);
}


.card-description-container .card-description {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-size: 30px;
	position: absolute;
	text-size-adjust: auto;
	text-align: center;
	width: 100%;
	padding: 20px;
	

	color: #FFFFFF;
}



img {
	
	box-align: center;

}